<ng-container *ngIf="transactions.length > 0">
    <cdk-virtual-scroll-viewport itemSize="50" class="viewport" (scrolledIndexChange)="handler($event)">
        <table class="table table-hover table-borderles">
            <thead class="recent-transactions">
                <span class="material-icons">
                    history
                </span> Recent Transactions
            </thead>
            <thead>
                <tr class="bg-light">
                    <td scope="col">Status</td>
                    <td scope="col">Amount XTZ ( USD )</td>
                    <td scope="col">Date</td>
                    <td scope="col">Address</td>
                </tr>
            </thead>
            <tbody>
                <tr *cdkVirtualFor="let transaction of transactions; trackBy: trackByIdx; let index = index"
                    class="item">
                    <td scope="row" class="text-capitalize"><span class="status">{{ transaction?.status }}</span></td>
                    <td> {{ transaction?.volume }} </td>
                    <td> {{ transaction?.time | date: 'mediumDate' }} </td>
                    <td> {{ transaction?.sender }} </td>
                </tr>
            </tbody>
        </table>
    </cdk-virtual-scroll-viewport>

    <button class="btn btn-dark btn-sm mt-5" *ngIf="!showLogs" (click)="showLogs = true">View Logs</button>
    <button class="btn btn-dark btn-sm mt-5" *ngIf="showLogs" (click)="showLogs = false">Hide Logs</button>

    <p *ngIf="showLogs">Elements in the list : {{ transactions.length || 0 }}</p>
    <p *ngIf="showLogs">Number of times HTTP Request was called: {{ transactions.length/10 | number:'1.0-0' || 0}}</p>

</ng-container>